spring:
  application:
    name: talk_nest
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signerKey: ${JWT_SIGNER_KEY}
  accessTokenExpirationTime: 1h
  refreshTokenExpirationTime: 30d