spring:
  application:
    name: talk_nest
  datasource:
    url: jdbc:postgresql://localhost:5432/talk_nest
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
